# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# Virtual environment
.venv/
venv/
env/

# -------------------------
# Secrets / Environment
# -------------------------
.env
.env.*
!.env.example

# -------------------------
# IDE / OS
# -------------------------
.vscode/
.idea/
.DS_Store
Thumbs.db

# -------------------------
# dbt
# -------------------------
ecommerce_dbt/target/
ecommerce_dbt/logs/
ecommerce_dbt/dbt_packages/
ecommerce_dbt/.user.yml

# -------------------------
# Large / raw data
# -------------------------
data/raw/
*.zip
*.7z
*.rar

# Optional local generated outputs
data/synthetic/*.csv

# -------------------------
# Logs / temporary files
# -------------------------
*.log
tmp/
temp/